.navbar{
    background-color: #202124;
    display: flex;
    justify-content: space-between;

    height: 5em;
    padding: 0 1em;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid white;
}

.ham-logo{
    display: flex;
    align-items: center;
}

#middle-setting-icon{
    margin: 0 2em;
}

.ham-container{
    width: 24px;
    height: 24px;
    color: white;
}

.keepr{
    color: white;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif
}

.ham-container:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 44px;
    width: 40px;
}
.settings{
    display: flex;
    align-items: center;
}

.search-logo{
    width: 25px;
    height: 25px;
}
.search-container{
    display: flex;
    align-items: center;

    background-color: #525356;
    border-radius: 8px;
    margin: 0.5em 0;
    padding: 0 0.5em;
}

#search-input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    height: 30px;
    width: 20em;
    margin-left: 1em;
}

#search-input::placeholder{
    color: white;
}

.search-logo{
    color: white;
}

.search-logo:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.setting-icon{
    width: 30px;
    height: 30px;
    color: white;
}

.setting-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.main{
    display: flex;
}

.note-settings-icon{
    height: 20px;
    width: 20px;
}

.note-settings-icons-container{
    display: flex;
    justify-content: space-between;
}

.create-container{
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
}

.form-container{
    background-color: #202124;
    width: 25em;
    max-width: 25em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid white;
}

#bookmark{
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;

    /*Avoid accidentally clicking the real checkbox, hope this doesn't backfire*/
    margin-left: 100px;
}

.bookmark-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
}

.bookmark-icon > svg{
    display: block !important;
    height: 20px;
    width: 20px;
}

.bookmark-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

#title-input{
    width: 90%;
    max-width: 90%;
    background: transparent;
    outline: none;
    border: none;
    color: white;

}

#title-input::placeholder{
    color: white;
}


.textarea-input{
    width: 100%;
    resize: none;
    overflow: hidden;
}



.button-close{
    border: none;
    background: none;
    padding: 0.3em 0.5em;
    color: white;
}

.button-close:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.note-settings-icon{
    color: white;
}

.note-settings-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.navbar-separation{
    color: white;
}

.text-input{
    color: white;
    text-align: left;
    outline: none;
}
.note-content-input{
    margin: 0.8em 0;
    color: white;
    text-align: left;
    padding:0 0.5rem;
    white-space: pre-wrap;
    outline: none;

    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.editor{
    color: white;
    text-align: left;
    padding: 0.5rem;
    white-space: pre-line;
    outline: none;
}



[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: white;
}


.empty-form-container{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 25em;
    max-width: 25em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid white;
}

.create-note-icons-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-left: 0.5rem;
}

.create-note-icon{
    width: 20px;
    height: 20px;
}

.create-note-input{
    width: 70%;
}

#createNoteInput{
    width: 100%;
}

/* .dropdown{
    background-color: aquamarine;
    display: block;
    position: absolute;
} */


.notes-container{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding-left: 3.5rem; /* Add paddign to separate from closed menu*/
}

/* Masonry  */

.my-masonry-grid {
    
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: 2rem; /* gutter size offset */
    width: auto;
    padding: 1rem;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > a > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
    max-width: 240px;
    overflow-x: hidden;
  }

  [data-reach-dialog-content] {
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
  }


  #content-container{
    background-color: greenyellow;
    width: 100%;
  }

.menu{
    width: 15rem;
    height: 100vh;
    color: white;
    background-color: #202124 ;
    position: fixed;
  z-index: 1000;
}
body {
    overflow-x: hidden;
  }

a.active > div{
    background-color: peru;
}



.menu-item{
    height: 3rem;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
}



/* .menu-item:hover{
    background-color: aqua;
} */

.menu-item *{
    pointer-events: none;
}

.menu-item > label{
    padding-left: 1.5rem;
}

.menu-icon{
    width: 25px;
    height: 25px;
}

.closed-menu > a{
    width: 7rem;
    color: white;
    text-decoration: none;
    color: white;
}

.closed-menu{
  background-color: #202124 ;

  position: fixed;
  z-index: 1000;
  height: 100vh;

}
.menu > a{
    text-decoration: none;
    color: white;
}

#edit-labels-closed{
    color: white;
}

#edit-labels.active{
    background-color: palegreen;
}

#edit-labels-closed.active{
    background-color: palegreen;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.popover{
    background-color: #202124;
}

/* .popover-item{
    padding-left: 1rem ;
} */

div[data-radix-popper-content-wrapper]{
    left: 30px !important;
}

.note-settings-icon > button{
    width: 20px;
    height: 20px;
    color: white;
    background-color: inherit;
    border: none;
}

.note-settings-icon > button:hover{
    cursor: pointer;
}


.list-item{
    background-color: aquamarine;
    margin: 1rem;
}

.color-container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.bg-color-input, .bg-img-input{
    display: none;
}

.bg-container{
    display: flex;
    justify-content: space-between;
}

.img-bg-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#bg-separator{
    margin: 0.3rem 0;
}

#pop-over-bg{
    padding: 0.3rem;
    border-radius: 5px;
}

.bg-container > label{
    margin-right: 0.3rem;
}

.bg-container:last-child{
    margin-right: 0;
}

#bg-color-default{
    border: 2px solid #5f6368;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-color-default > svg{
    width: 18px;
    height: 18px;
    color: white;
}

#bg-img-default{
    border: 2px solid #5f6368;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bg-img-default > svg{
    width: 25px;
    height: 25px;
    color: white;
}

.color-container:hover{
    border: 2px solid rgba(255,255,255,.87)!important;
    cursor: pointer;
}

.img-bg-container:hover{
    border: 2px solid rgba(255,255,255,.87)!important;
    cursor: pointer;
}

input[type="radio"]:checked ~ div{
    border: 2px solid #a142f4 !important;
}

input[type="radio"]:checked ~ svg{
    display: block;
    position: absolute;
}

.bg-container > label > svg{
    display: none;
    background-color: #a142f4;
    border-radius: 50%;
    color: white;
    height: 12px;
    width: 12px;
    right: 0;
}

.bg-container > label{
    position: relative;
    display: inline-block;
}

/* Test */
.overlay {
    background-color: rgba(217, 76, 76, 0.5); 
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  
  .modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #c52222 ;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }

  ::backdrop{
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */

  }

  dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
  }

  .note-in-modal{
    width: 35rem;
    padding: 1rem;
    border-radius: 8px;
  }

  #note-modal{
    overflow: visible;
    background: none;
  }