.navbar{
    background-color: #202124;
    display: flex;
    justify-content: space-between;

    height: 5em;
    padding: 0 1em;
}

.ham-logo{
    display: flex;
    align-items: center;
}

#middle-setting-icon{
    margin: 0 2em;
}

.ham-container{
    width: 24px;
    height: 24px;
    color: white;
}

.keepr{
    color: white;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif
}

.ham-container:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 44px;
    width: 40px;
}
.settings{
    display: flex;
    align-items: center;
}

.search-logo{
    width: 25px;
    height: 25px;
}
.search-container{
    display: flex;
    align-items: center;

    background-color: #525356;
    border-radius: 8px;
    margin: 0.5em 0;
    padding: 0 0.5em;
}

#search-input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    height: 30px;
    width: 20em;
    margin-left: 1em;
}

#search-input::placeholder{
    color: white;
}

.search-logo{
    color: white;
}

.search-logo:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.setting-icon{
    width: 30px;
    height: 30px;
    color: white;
}

.setting-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.main{
    background-color: chocolate;    
    display: flex;
}

.note-settings-icon{
    height: 20px;
    width: 20px;
}

.note-settings-icons-container{
    display: flex;
    justify-content: space-between;
}

.create-container{
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
}

.form-container{
    background-color: #202124;
    width: 25em;
    max-width: 25em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid white;
}

#bookmark{
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;

    /*Avoid accidentally clicking the real checkbox, hope this doesn't backfire*/
    margin-left: 100px;
}

.bookmark-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
}

.bookmark-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

#title-input{
    width: 90%;
    max-width: 90%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}

#title-input::placeholder{
    color: white;
}


.textarea-input{
    width: 100%;
    resize: none;
    overflow: hidden;
}

.note-content-input{
    margin: 0.8em 0;
}

.button-close{
    border: none;
    background: none;
    padding: 0.3em 0.5em;
    color: white;
}

.button-close:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.note-settings-icon{
    color: white;
}

.note-settings-icon:hover{
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}


.navbar-separation{
    color: white;
}

.text-input{
    color: white;
    text-align: left;
    outline: none;
}

#editor{
    color: white;
    text-align: left;
    padding: 0.5rem;
    white-space: pre;
    outline: none;
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: white;
}


.empty-form-container{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    width: 25em;
    max-width: 25em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid white;
}

.create-note-icons-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-left: 0.5rem;
}

.create-note-icon{
    width: 20px;
    height: 20px;
}

.create-note-input{
    width: 70%;
}

#createNoteInput{
    width: 100%;
}

/* .dropdown{
    background-color: aquamarine;
    display: block;
    position: absolute;
} */


.notes-container{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding-left: 3.5rem; /* Add paddign to separate from closed menu*/
}

.menu{
    width: 30rem;
    height: 100vh;
    color: white;
    background-color: #202124 ;
}

fieldset{
    border: 0;
}

.menu-item{
    height: 3rem;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
}



.menu-item:hover{
    background-color: aqua;
}

.menu-item *{
    pointer-events: none;
}

.menu-item > input{
    position: absolute;
    opacity: 0;
}

.menu-item > label{
    padding-left: 1.5rem;
}

.menu-icon{
    width: 25px;
    height: 25px;
}

.closed-menu{
    width: 7rem;
    color: white;
    background-color: red ;
}